.Owner-spot-container{
    padding-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    align-self: center;
}

 h1 {
    font-size: 30px;
    padding-top: 20px;
    display: flex;
    align-self: flex-start;
}

h2 {
    display: flex;
    align-self: flex-start;
    font-size: 25px;
}

.info-name{
    font-weight: bold;
    color: rgb(222, 118, 66);
    font-size: 24px;
}
.intro{
    padding-top: 10px;
    display: flex;
    align-self: flex-start;
    padding-left: 10px;

}

.info{
    padding-left: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    display: flex;
    align-self: flex-start;
}

.current-listings {
    list-style: none;
    padding: 0px;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.delete-button {
    width: 145px;
    height: 20px;
    border-radius: 7px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: white;
    background-color: rgba(220, 16, 98);
    border: none;
    font-size: 15px;
    cursor: pointer;
    margin-left: 10px;
}

.link{
    text-decoration: none;

}
.link:hover {
    color: rgba(220, 16, 98);
}

.review{
    padding-top: 10px;
    width: 85vw;
}
.del-button{
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.current-reviews {
    box-sizing: border-box;
    list-style: none;
    padding: 10px;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-self: flex-start;


}

.Spot-card-owner {
    padding: 13px;


}

.delete-button-review {
    width: 150px;
    height: 20px;
    border-radius: 7px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: white;
    background-color: rgba(220, 16, 98);
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.edit{
    color: white;
    text-decoration: none;
}
.edit-button {
    width: 145px;
    height: 20px;
    border-radius: 7px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: white;
    background-color: rgba(220, 16, 98);
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.Owner-spot-container h1, h2{
    padding-left: 10px;
}

.review-li {
    display: flex;
    flex-direction: column;
    width: 620px;
}
