.Owner-spot-container{
    padding-top: 75px;
}

 h1 {
    font-family: helvetica;
    font-size: 30px;
    padding-top: 20px;
}

.info-name{
    font-weight: bold;
}

.info{
    padding-left: 10px;
}

.current-listings {
    list-style: none;
    padding: 0px;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.delete-button {
    width: 150px;
    height: 20px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: white;
    background-color: rgba(220, 16, 98);
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.link{
    padding-left: 10px;
}

.review{
    padding-top: 10px;
}
.del-button{
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.current-reviews {
    list-style: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;

}

.Spot-card-owner {
    padding: 13px;

}

.edit{
    color: white;
    text-decoration: none;
}

.Owner-spot-container h1, h2{
    padding-left: 10px;
}
