.spot-card-image{
    width: 300px;
    height: 260px;
    border-radius: 16px;
    box-sizing: border-box;
    object-fit: cover;
}

.spot-card{
    text-decoration: none;
    color: black;
    line-height: 24px;

}

#spot-card-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    font-weight: bold;
    font-size: 14px;

}

.spot-card-text {
    color: gray;
    font-size: 14px;

}

.spot-card-price {
    color: black;
    font-weight: bold;
     font-size: 14px;

}

.spot-card-night {
    font-size: 14px;
   
}
